<h1>Stupid Coaching</h1>

<div style="background-color: yellow; lightgrey; border-radius: 5px; margin-bottom: 5px">
  <h3 style="padding: 5px"><%= @question %></h3>
  <h3>- You</h3>
</div>

<div style="background-color: lightgrey; border-radius: 5px;">
  <h3 style="padding: 5px"><%= @answer %></h3>
  <h3>- Your Coach</h3>
</div>

